@media only screen and (min-width: 880px) {
  #game {
    margin: 0%;
    margin-top: 7%;
  }

  #game .container {
    width: 50%;
    margin-top: -10%;
  }

  #menu .container {
    width: 50%;
  }

  #player-menu .container {
    width: 50%;
  }

  #computer-menu .container {
    width: 50%;
  }
}
