* {
    margin: 0;
    padding: 0;
}

body {
    background: #f6f5f5;
    margin: 0px;
    padding: 0px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

section {
    width: 100%;
    height: 70vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #FFFFFF;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    padding: 0px 5%;
}


nav ul {
    display: flex;
}

nav ul li a {
    margin: 20px;
    color: #505050;
    font-size: 15px;
    font-weight: 700;
}

nav h1 {
    margin-right: auto;
    letter-spacing: 3px;
    font-size: 20px;
    font-weight: 700;
}

.logo .model {
    height: 45px;
    border-radius: 100%;
    margin: 10px 10px;

}


.active {
    font-weight: bold;
    color: #2d2a2a;

}






.text-container p:nth-child(1) {
    font-weight: bold;
    color: #6d6d6d;
    font-size: 22px;
}

.text-container p:nth-child(2) {
    font-weight: bold;
    letter-spacing: 1px;
    color: #1a1a1a;
    font-size: 60px;
}

.text-container p {
    line-height: 0px;
    margin: 45px 0px 25px;
}

.text-container {
    position: absolute;
    left: 13%;
    top: 42%;
    transform: translate(-13%, -42%);
}