* {
    padding: 0;
    margin: 0;
    font-family: "Press Start 2P";
    font-weight: bold;
    cursor: url("../cursor-icons/closedPokeball.png"), auto;
}

body {
    position: relative;
    background-image: url("../pokemon-icons/tres.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

header {
    background-image: linear-gradient(to right, #6bd178, #9ebe53, #c0a844, #d5914b, #dd7c60, #e16e6e, #de6281, #d45c96, #cd55ac, #bd55c5, #9d5be1, #5f66fb);
    text-align: center;
    padding: 1em;
    border-bottom: 5px solid black;

}

section {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

footer {
    position: fixed;
    background-image: linear-gradient(to right, #6bd178, #9ebe53, #c0a844, #d5914b, #dd7c60, #e16e6e, #de6281, #d45c96, #cd55ac, #bd55c5, #9d5be1, #5f66fb);
    bottom: 0;
    width: 100%;
    height: 2em;
    border-top: 5px solid black;
}

h1 {
    animation: animate 3s linear infinite;
    transition: transform;
}

h1 img {
    animation: rotation 2s infinite linear;
    width: 25px;

}

@keyframes animate {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}


/* MAIN MENU! */

#menu .container {
    border: 5px solid black;
    border-radius: 10px;
    width: 80%;
    padding-bottom: 30px;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);

}

#menu .container h2 {
    padding: 10px;
    font-size: 1rem;
    background-image: linear-gradient(to right, #6bd178, #9ebe53, #c0a844, #d5914b, #dd7c60, #e16e6e, #de6281, #d45c96, #cd55ac, #bd55c5, #9d5be1, #5f66fb);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

#menu .container hr {
    width: 80%;
    margin: 5px auto;
    border: 1px solid black;

}

#menu .container button {
    border: 5px solid black;
    background-image: linear-gradient(to right, #6bd178, #9ebe53, #c0a844, #d5914b, #dd7c60, #e16e6e, #de6281, #d45c96, #cd55ac, #bd55c5, #9d5be1, #5f66fb);
    width: 80%;
    padding: 15px;
    border-radius: 10px;
    margin: 0.5em;
    transition: 0.1s ease-in-out;
    color: black;
}

#menu .container button:hover {
    transform: translateY(-5px);
    cursor: url("../cursor-icons/openPokeball.png"), auto;
}

#menu .container button:active {
    cursor: url("../cursor-icons/closedPokeball.png"), auto;
}

/* MAIN MENU END! */




/* PLAYER MENU ! */

#player-menu .container {
    border: 5px solid black;
    border-radius: 10px;
    margin: auto;
    width: 80%;
    padding-bottom: 20px;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
}

#player-menu .container .details {
    width: 100%;
    margin-top: 20px;
}

#player-menu .details input {
    width: 80%;
    margin: 20px auto;
    padding: 10px;
    border: 5px solid black;
    border-radius: 10px;
    cursor: text;
}

#player-menu .details label {
    display: block;
    font-size: 15px;
    background-image: linear-gradient(to right, #6bd178, #9ebe53, #c0a844, #d5914b, #dd7c60, #e16e6e, #de6281, #d45c96, #cd55ac, #bd55c5, #9d5be1, #5f66fb);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#player-menu .container h2 {
    padding: 10px;
    font-size: 1rem;
    background-image: linear-gradient(to right, #6bd178, #9ebe53, #c0a844, #d5914b, #dd7c60, #e16e6e, #de6281, #d45c96, #cd55ac, #bd55c5, #9d5be1, #5f66fb);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#player-menu .container hr {
    width: 80%;
    margin: 10px auto;
    border: 1px solid black;
}

#player-menu .container button {
    border: 5px solid black;
    color: black;
    background-image: linear-gradient(to right, #6bd178, #9ebe53, #c0a844, #d5914b, #dd7c60, #e16e6e, #de6281, #d45c96, #cd55ac, #bd55c5, #9d5be1, #5f66fb);
    width: 80%;
    padding: 15px;
    border-radius: 10px;
    margin: 0.5em;
    cursor: pointer;
    transition: 0.1s ease-in-out;
}

#player-menu .container button:hover {
    transform: translateY(-5px);
    cursor: url("../cursor-icons/openPokeball.png"), auto;
}

#player-menu .container button:active {
    cursor: url("../cursor-icons/closedPokeball.png"), auto;
}

/* PLAYER MENU END! */

/* COMPUTER MENU! */

#computer-menu .container {
    font-weight: bold;
    border: 5px solid black;
    border-radius: 10px;
    margin: auto;
    width: 80%;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
}

#computer-menu .container h2 {
    padding: 10px;
    font-size: 1rem;
    background-image: linear-gradient(to right, #6bd178, #9ebe53, #c0a844, #d5914b, #dd7c60, #e16e6e, #de6281, #d45c96, #cd55ac, #bd55c5, #9d5be1, #5f66fb);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#computer-menu .container hr {
    width: 80%;
    margin: auto;
    border: 1px solid black;
}

#computer-menu .container .details {
    width: 100%;
    margin-top: 20px;
}

#computer-menu .details label {
    font-size: 15px;
    display: block;
    background-image: linear-gradient(to right, #6bd178, #9ebe53, #c0a844, #d5914b, #dd7c60, #e16e6e, #de6281, #d45c96, #cd55ac, #bd55c5, #9d5be1, #5f66fb);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#computer-menu .details input {
    border: 5px solid black;
    border-radius: 10px;
    width: 80%;
    margin: 20px auto;
    padding: 10px;
    cursor: text;
}

#computer-menu .container button {
    border: 5px solid black;
    color: black;
    width: 33%;
    padding: 5px;
    border-radius: 10px;
    margin: 1em;
    cursor: pointer;

}

#computer-menu .container button:nth-of-type(1) {
    background-image: linear-gradient(to right, #52cb61, #dba600, #ff9000);
}

#computer-menu .container button:nth-of-type(2) {
    background-image: linear-gradient(to right, #ff9000, #ff5853, #1f5ed3);
}

#computer-menu .container button:hover {
    transform: translateY(-5px);
    cursor: url("../cursor-icons/openPokeball.png"), auto;
}

#computer-menu .container button:active {
    cursor: url("../cursor-icons/closedPokeball.png"), auto;
}

#computer-menu .container .startComputer {
    width: 80%;
    padding: 10px;
    background-image: linear-gradient(to right, #6bd178, #9ebe53, #c0a844, #d5914b, #dd7c60, #e16e6e, #de6281, #d45c96, #cd55ac, #bd55c5, #9d5be1, #5f66fb);
}




/* COMPUTER MENU END! */



/* GAME START! */

#game {
    width: 100%;
    height: 80vh;
    margin-top: 10%;
    margin-bottom: 15%;
}

#game .container {
    position: relative;
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: column-reverse;
    min-height: fit-content;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    border: 3px solid;
}

#game .container .game-box {
    position: relative;
    height: 60%;
    max-height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    border-top: 3px solid black;
}


#game .game-box .card {
    position: relative;
    width: 70%;
    height: 70%;
    margin: auto;
    cursor: pointer;
    border-radius: 10%;
    background-color: black;
    
    -webkit-transform-style: preserve-3d;
    box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px;
}

#game .container .card img {
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-content: center;
    align-items: center;
}

#game .container .card .back {
    -webkit-backface-visibility: hidden;
    pointer-events: none;
}

#game .container .card .face {
    -webkit-transform: scaleX(-1);
    pointer-events: none;
}

.toggleCard {
    -webkit-transform: rotateY(180deg);
    pointer-events: none;
}











#game .game-box .card {
    position: relative;
    width: 70%;
    height: 70%;
    margin: auto;
    cursor: pointer;
    border-radius: 10%;
    background-color: black;
    transition: transform 1s linear;
    -webkit-transition: transform 1s linear;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px;
}

#game .container .card img {
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-content: center;
    align-items: center;
}

#game .container .card .back {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;

    pointer-events: none;

    transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
}

#game .container .card .face {
    -webkit-transform: scaleX(-1);
    pointer-events: none;
    z-index: -1;
    transform: rotateX(0deg);;
    -webkit-transform: rotateX(0deg);
}

.toggleCard {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    
    pointer-events: none;
}

#game .container aside {
    position: absolute;
    top: 0;
    width: 100%;
    font-size: 80%;
}

#game .history hr {
    width: 80%;
    margin: auto;
    border: 1px solid black;
}

#game .container aside .history {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#game .container .history .left-column p,
h2 {
    margin: 5% 0 5% 5%;
}

#game .container .history .right-column {
    font-size: 80%;
    text-align: center;
    background-color: white;
    margin-right: 5%;
    margin-top: 5%;
    border-radius: 5px;
    padding: 5px;
}


#game .history button {
    background-image: linear-gradient(to right, #6bd178, #9ebe53, #c0a844, #d5914b, #dd7c60, #e16e6e, #de6281, #d45c96, #cd55ac, #bd55c5, #9d5be1, #5f66fb);
    width: 90%;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.1s ease-in-out;
    margin: 5%;
    border-style: none;
    padding: 5px 0;
    color: black;
}

#game .container button:hover {
    transform: translateY(-5px);
    cursor: url("../cursor-icons/openPokeball.png"), auto;
}

audio::-webkit-media-controls-panel {
    background-image: linear-gradient(to right, #6bd178, #9ebe53, #c0a844, #d5914b, #dd7c60, #e16e6e, #de6281, #d45c96, #cd55ac, #bd55c5, #9d5be1, #5f66fb);

}

audio {
    width: 90%;
    margin: 0 5% 5% 5%;
}

.historyElement {
    margin-top: 2%;
    font-size: 0.6em;
    overflow: scroll;
}


/* GAME END! */


#player-menu {
    display: none;
}

#computer-menu {
    display: none;
}

#game {
    display: none;
}
